

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    color: #000000;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline;
}

header nav li {
    color: #828282;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 0 30px;
    font-size: 24px;
}

header nav li a {
    color: #828282;
    text-decoration: none;
}

header nav li :hover {
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 8px;
}


header nav li a:hover {
    color: #000000;
    cursor: pointer;
}

section#home {
    padding: 0px;
    margin: 0;
    border-top: 1px solid #828282;
    max-height: 700px;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

section#home h1{
    font-size: 48px;
    left: 25px;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
}

section#home h1::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -25px;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -1;
    width: 100vw;
}

section#home img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    top: -750px;
    z-index: 1;
    margin: 0;
}

section#about {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    min-height: 800px;
    text-align: center;
    position: relative;
}

section#about h2 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 150px;
}

section#about p {
    font-size: 28px;
    max-width: 800px;
    margin: 70px auto;
}

section#skills {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    min-height: 800px;
    text-align: center;
    position: relative;
}

section#skills h1 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 150px;
}

section#skills h2 {
    font-size: 28px;
    font-weight: 400;
}

section#skills div.skills-list {
    display: inline-block;
    justify-content: center;
    margin: 50px 100px;
}

section#skills div.skills-list img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

section#skills div.skills-list img:hover {
    transform: scale(1.15);
}

section#skills div.skills-list div.stars {
    font-size: 38px;
    margin: 50px 0px;
    padding: 0;
}

section#portfolio {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    min-height: 800px;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

section#portfolio h1 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 150px;
}

section#portfolio h2 {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    margin: 50px;
}

section#portfolio h2 a {
    color: #000000;
}

section#portfolio img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

section#portfolio img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    min-height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
}

footer h1 {
    font-size: 36px;
    padding-top: 50px;
    font-weight: 600;
}

footer h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 20px
}

footer button {
    background-color: #000000;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px auto 40px;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

footer button:hover {
    transform: scale(1.05);
}

footer button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

footer img {
    margin: 40px;
    transition: transform 0.3s ease;
    opacity: 0.6;
    cursor: pointer;
}

footer img:hover {
    transform: scale(1.15);
    opacity: 1;
}

footer h3 {
    font-size: 18px;
    font-weight: 400;
    color: #828282;
    max-width: 300px;
    margin: 0 auto;
}